<div class="page">
  <div class="lead">
    <div class="container">
      <h1><%= __('category') %></h1>
      <p><%= page.category %></p>
    </div>
  </div>
  <div class="container">
    <div class="main-content">
      <ul class="post-list">
        <% page.posts.forEach(function(post) { %>
          <%- partial('@/post-item', {post: post}) %>
        <% }) %>
      </ul>
      <%- partial('@/paginator')%>
    </div>
    <div class="sidebar">
      <%- partial('@/asides/recent_posts')%>
      <%- partial('@/asides/archives')%>
      <%- partial('@/asides/tagcloud')%>
    </div>
  </div>
</div>
