<div class="page">
  <div class="lead">
    <div class="container">
      <h1><%= __('recent_posts') %></h1>
    </div>
  </div>
  <div class="container">
    <div class="main-content">
      <ul class="post-list">
        <% page.posts.forEach(function(post) { %>
          <%- partial('@/post-item', {post: post}) %>
        <% }) %>
      </ul>
      <%- partial('@/paginator')%>
    </div>
    <div class="sidebar">
      <%- partial('@/asides/stay-in-touch') %>
      <%- partial('@/asides/categories') %>
      <%- partial('@/asides/archives') %>
      <%- partial('@/asides/tagcloud') %>
    </div>
  </div>
</div>