<div class="post page">
  <div class="lead">
    <div class="container">
      <h1><%= page.title %></h1>
      <p>
        <%- list_categories(page.categories, {depth: -1, style: "none", show_count: false})%><br>
        <time><%= full_date(page.date, "DD MMMM YYYY")%></time>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="main-content">
      <article>
        <header>
          <h2>Table of content</h2>
          <%- toc(page.content, {list_number: false}) %>
          <section class="post-excerpt">
            <%- page.excerpt %>
          </section>
        </header>
        <section class="post-content">
          <%- page.more %>
        </section>
        <footer>
        </footer>
      </article>
    </div>
    <div class="sidebar">
      <%- partial('@/asides/recent_posts')%>
      <%- partial('@/asides/categories')%>
      <%- partial('@/asides/archives')%>
      <%- partial('@/asides/tagcloud')%>
    </div>
  </div>
</div>