<div class="tag">
  <div class="lead">
    <div class="container">
      <h1><%= __('tag') %></h1>
      <p><%= page.tag %></p>
    </div>
  </div>
  <div class="main-content">
    <div class="container">
      <ul class="post-list">
        <% page.posts.forEach(function(post) { %>
          <%- partial('@/post-item', {post: post}) %>
        <% }) %>
      </ul>
      <%- partial('@/paginator')%>
      <div class="sidebar">
        <%- partial('@/asides/recent_posts')%>
        <%- partial('@/asides/categories')%>
        <%- partial('@/asides/archives')%>
      </div>
    </div>
  </div>
</div>